body {
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); /* Substitua 'background.jpg' pelo caminho da sua imagem de fundo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FF5733;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #FFFFFF;
}

.menu {
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
}

.menu h2 {
    font-size: 24px;
}

.menu p {
    font-size: 18px;
}

ul {
    list-style-type: disc;
}
/*cores rodape*/
footer {
    text-align: center;
    background-color: #FF5733;
    padding: 10px;
    color: #FFFFFF;
}
/*21/10*/
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
}
/*stilo botao*/
.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   }
   /*cabeçalho fixo que permanece na parte superior da tela*/
   header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #4CAF50;
  }
  body {
    margin-top: 100px;
  }
  /*ordenando as colunas*/
